

// ---- Varaibles ----

// As this project is a test based on TMDB, I'll be using their colors as the main palette
$colors: (
    "white-bg": #f9f9f9,
    "blue-primary": #0d253f,
    "blue-secondary": #01b4e4,
    "green-primary": #90cea1,
    "red-primary": #d40242
);



// ---- Mixins ----

@mixin flexContainer($dir, $wrap, $align, $justify, $gap: 0) {
    display: flex;
    flex-flow: $dir $wrap;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;

    & > *{
        flex-shrink: 0;
        flex-grow: 0;
    }
}