@use "utils";


.film_information_page {
    @include utils.flexContainer(column, nowrap, center, flex-start);
    width: 100%;
    padding: 60px 0;

    .film_information_container {
        min-height: 200px;
        background-color: rgba(131, 21, 21, 0.151);
        
        width: 90%;
    }

}