@use "utils";


// ---- Header ----
header {
    @include utils.flexContainer(row, nowrap, center, space-between);
    background-color: map-get(utils.$colors, "blue-primary");
    width: 100%;
    height: 75px;
    padding: 0 30px;
    overflow: hidden;


    // ---- Header logo and toggle button for responsive menu ----
    .header_logo_toggler_container {
        @include utils.flexContainer(row, nowrap, center, center);
        position: relative;

        .header_menu_toggler {
            background-color: transparent;
            border: none;
            position: absolute;
            right: 20px;
            display: none;

            svg {
                width: 30px;
                height: 30px;
                stroke: map-get(utils.$colors, "blue-secondary");
            }
        }

        .header_logo {
            display: block;
            height: 25px;

            img {
                height: 100%;
                width: 100%;
            }
        }


    }


    // ---- Navigation menu ----
    nav ul {
        @include utils.flexContainer(row, nowrap, center, center, 20px);
        font-size: 1.05rem;

        li a {
            display: block;
            padding: .5em;
            position: relative;

            &.active {
                pointer-events: none;
            }


            &::after,
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 0%;
                height: 3px;
                background-color: map-get(utils.$colors, "blue-secondary");
                transition: width .35s ease-out;

            }

            &::after {
                bottom: 0;
            }

            &::before {
                top: 0;
                display: none;
            }

            &:hover::after,
            &:hover::before,
            &.active::after,
            &.active::before {
                width: 100%;
            }
        }
    }


    @media screen and (max-width: 768px) {
        flex-direction: column;
        padding: 25px 0 35px;
        
        .header_logo_toggler_container {
            width: 100%;
            
            .header_menu_toggler {
                display: block;
            }
   
        }

        &.opened {
            height: fit-content;
        }


        nav ul {
            flex-direction: column;
            margin: 40px 0 35px;

            li a::before {
                display: block;
            }
        }
    }
    
}